body {
  text-align:center; margin:0; padding:0;
}

#topBar{
  width:100%; text-align:center; background:#ccc; height:25px;
}

ul { 
  text-align: center; list-style-type: none; 
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

